<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
  
	<servlet>
		<servlet-name>MemberController</servlet-name>
		<servlet-class>work.controller.MemberController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ToiletController</servlet-name>
		<servlet-class>work.controller.ToiletController</servlet-class>
	</servlet>
  
<servlet>
    <servlet-name>ReviewController</servlet-name>
    <servlet-class>work.controller.ReviewController</servlet-class>
  </servlet>


	<servlet-mapping>
		<servlet-name>MemberController</servlet-name>
		<url-pattern>/member</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ToiletController</servlet-name>
		<url-pattern>/toilet</url-pattern>
	</servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ReviewController</servlet-name>
    <url-pattern>/review</url-pattern>
  </servlet-mapping>

</web-app>